:root {
  --color-bk: #2b2b2b;
  --color-white: #fdfdfd;
  --color-grey: #d4d4d4;
  --color-beige: #f4f2eb;
  --color-blue: #1e50a2;
  --color-orange: #f08300;
}

html {
  font-size: 62.5%; /* = 10px相当 */
  overflow-x: hidden;
}

body {
  font-size: 1.6rem; /* = 16px */
  padding-top: 100px; /*headerの高さ分*/
}
@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

.section__ttl {
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 2.4rem;
}

.l-container {
  max-width: 1280px;
  margin: auto;
  padding: 0 3rem;
  width: 100%;
}
@media (max-width: 767px) {
.l-container {
padding: 0;}
}



.l-content {
  max-width: 1080px;
  margin: auto;
}

@media (max-width: 767px) {
.l-content {
padding: 0 3rem;}
}

p {
  letter-spacing: 0.03em;
}

/*==============
ヘッダー（PC）
================*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--color-white);
  z-index: 9999;
  transition:
    transform 0.4s ease,
    opacity 0.3s ease;
  box-shadow: 0 3px 10px var(--color-grey);
}
@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

/* スクロールで隠す */
.header.hide {
  transform: translateY(-100%);
  opacity: 0;
}

/* 再表示 */
.header.show {
  transform: translateY(0);
  opacity: 1;
}

.header__inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: clamp(60px, 10vw, 100px);
}

.header__logo img {
  display: block;
  width: 100%;
}

@media (max-width: 1024px) {
  .header__logo img {
    width: 80%;
  }
}

.g__nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.g__nav li {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: 500;
  letter-spacing: 0.05em;
}

.g__nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-bk);
  margin-right: 4rem;
}

@media (max-width: 1024px) {
  .g__nav li a {
    margin-right: 2rem;
  }
}

.g__nav li:last-child a {
  margin-right: 0;
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 50px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  text-decoration: none;
}

/*グローバルナビの下線*/
.g__nav li a {
  position: relative;
  text-decoration: none;
}

.g__nav li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: var(--color-blue);
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}

/* 中央から左右へ */
.g__nav li a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.g__nav li:last-child a::after {
  display: none;
}

.g__nav li:last-child a:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
}
.g-nav-area {
  margin-left: auto;
}

/*==============
ヘッダー（SP)
================*/
@media (max-width: 767px) {
  .g-nav-area.active {
    display: block;
    position: fixed;
    inset: 0;
    background: var(--color-white);
    padding-top: 100px;
    z-index: 9;
  }

  .g__nav {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
    padding: 3rem;
  }

  /* ハンバーガー本体 */
  .hamburger {
    display: block;
    width: 2.8rem;
    height: 2rem;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: var(--color-bk);
    transition: 0.3s;
  }

  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    top: 0.9rem;
  }
  .hamburger span:nth-child(3) {
    bottom: 0;
  }

  /* 開いたら × に変形 */
  .hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-0.9rem) rotate(-45deg);
  }

  /* 画面を覆う全体レイヤー */
  .g-nav-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100vh;
    background: var(--color-white);
    transform: translateX(-100%);
    transition: transform 0.9s ease;
    z-index: 9;
    padding-top: 6rem;
    margin-left: unset;
  }

  /* 表示状態 */
  .g-nav-area.active {
    transform: translateX(0);
  }

  /* PC の下線演出は SP では消す */
  .g__nav li a::after {
    display: none;
  }

  /* 先頭に「menu」表示 */
  .g__nav::before {
    content: "menu";
    display: block;
    padding: 0.6rem 2rem;
    font-weight: 700;
    border-bottom: 1px solid var(--color-grey);
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 1rem;
    width: 80%;
    text-align: center;
  }

  /* 各リンク */
  .g__nav li {
    width: 80%;
  }

  .g__nav li a {
    display: block;
    padding: 1.6rem 2rem;
    color: var(--color-bk);
    text-decoration: none;
    border-bottom: 1px solid var(--color-beige);
    background: var(--color-white);
    font-size: 1.6rem;
  }

  /* 各項目の先頭に「＞」を付ける */
  .g__nav li a::before {
    content: "＞ ";
    font-weight: 700;
    padding-right: 1rem;
  }

  .g__nav li a:hover {
    background: #faf9f9;
  }

  .g__nav li:last-child a {
    border-bottom: none;
    display: inline-block;
  }

  .g__nav li:last-child a::before {
    display: none;
  }

  .header__logo {
    position: relative;
    z-index: 100;
  }
}

/*===================
各セクションタイトル
====================*/
.section__ttl {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .section__ttl {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0rem;
  }
}
.section_ttl--en {
  font-size: 6.4rem;
  font-weight: 800;
  color: var(--color-blue);
  letter-spacing: 0.03em;
}
@media (max-width: 767px) {
  .section_ttl--en {
    font-size: 3rem;
  }
}
.section_ttl--jp {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-bk);
  letter-spacing: 0.03em;
}
@media (max-width: 767px) {
  .section_ttl--jp {
    font-size: 2rem;
  }
}

.section_ttl--jp::before {
  content: "";
  width: 3rem;
  height: 1px;
  background: var(--color-bk);
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .section_ttl--jp::before {
    display: none;
  }
}
/*===================
PCとSPの改行設定
====================*/

.pc_only {
  display: block;
}

.sp_only {
  display: none;
}

.sp-br {
  display: none;
}

@media (max-width: 767px) {
  .sp-br {
    display: inline;
  }
}
@media (max-width: 767px) {
  .pc_only {
    display: none;
  }
  .sp_only {
    display: block;
  }
}
/*===================
各セクション間の余白
====================*/
.section {
  margin-top: 8rem;
}
@media (max-width: 767px) {
  .section {
    margin-top: 6rem;
  }
}
/*===================
ボタン(共通）
====================*/
.wp-block-button__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  aspect-ratio: 300 / 70;
  border-radius: 9999px;
  background: var(--color-blue);
  color: var(--color-white);
  border: 1px solid var(--color-blue);
  text-decoration: none;
  font-size: 2rem;
  transition: 0.3s;
  position: relative;
  padding-left: 2.2rem;
  padding-right: 3.6rem;
}

/* 矢印の棒の部分 */
.wp-block-button__link::before {
  background-color: var(--color-white);
  position: absolute;
  top: 50%;
  right: 20%;
  width: 24px;
  height: 2px;
  margin-top: 0;
  content: "";
  transition: 0.3s;
}

/* 矢印の先端部分 */
.wp-block-button__link::after {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 12px;
  height: 12px;
  margin-top: -5px;
  transform: rotate(45deg);
  border-top: 2px solid var(--color-white);
  border-right: 2px solid var(--color-white);
  content: "";
  display: inline-block;
  vertical-align: middle;
  transition: 0.3s;
}

/* hover時 */
.wp-block-button__link:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.wp-block-button__link:hover::before {
  background-color: var(--color-blue);
}

.wp-block-button__link:hover::after {
  border-top: 2px solid var(--color-blue);
  border-right: 2px solid var(--color-blue);
}

@media (max-width: 300px) {
  .wp-block-button__link {
    font-size: 1.4rem;
    gap: 14px;
  }

  /* 棒 */
  .wp-block-button__link::before {
    width: 12px;
    height: 2px;
    right: 13%;
  }

  /* 矢印の先端 */
  .wp-block-button__link::after {
    width: 9px;
    height: 9px;
    margin-top: -4px;
    right: 13%;
  }
}
/*===================
footer(pc)
====================*/
.footer {
  background-color: var(--color-bk);
  padding: 5rem 3rem;
}
@media (max-width: 767px) {
  .footer {
    padding: 6rem 3rem;
  }
}

.footer__nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  flex-wrap: wrap;
  margin-left: 4rem;
  line-height: 2;
}
@media (max-width: 767px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav li {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: 500;
  letter-spacing: 0.05em;
}

.footer__nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 4rem;
  color: var(--color-white);
  font-size: 1.8rem;
  letter-spacing: 0.05em;
}

.footer__nav li a:hover {
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .footer__nav li a {
    margin-right: 2rem;
  }
}

.footer__nav li:last-child a {
  margin-right: 0;
}
.footer_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_item--information {
  color: var(--color-white);
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  margin-top: 4rem;
}
.footer_item--information-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 12.8rem;
  font-size: 1.8rem;
  align-items: center;
}

.privacypolicy a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.8rem;
}
@media (max-width: 767px) {
  .privacypolicy a {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .footer_item--information {
    font-size: 1.4rem;
  }

  .copyright {
    font-size: 1rem;
  }
  .footer__logo img {
    width: 80%;
  }
}

.footer_item--information a,
.footer_item--information-bottom {
  color: var(--color-white);
  text-decoration: none;
}
.footer_item--information-bottom {
  align-items: center;
}

.privacypolicy a,
.copyright {
  line-height: 3;
}




/*===================
各セクション詳細ページ
タイトル余白設定
====================*/

.section_detail {
  margin-top: 8rem;
}
.detail-section_ttl--en {
  font-size: 6.4rem;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  font-weight: 800;
}
.detail-section_ttl--jp {
  font-size: 3.6rem;
  letter-spacing: 0.03em;
  color: var(--color-bk);
  font-weight: 600;
}

.detail-section__ttl {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3rem;
}

/*===================
パンくずリスト
====================*/
.breadcrumb {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb__item {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
}

.breadcrumb__item + .breadcrumb__item::before {
  content: ">";
  margin: 0 2rem;
  color: #999;
}

/* ホームアイコン */
.breadcrumb__icon {
  width: 1.6rem;
  height: auto;
  vertical-align: middle;
}

.breadcrumb__item a {
  text-decoration: none;
  color: var(--color-bk);
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
