/*==============
Business事業内容
================*/
.service_detail-item {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 2.5rem;
  max-width: 1080px;
  margin: 0 auto;
  padding: 4rem 0;
  border-bottom: 1px solid var(--color-grey);
}

.service_detail--img {
  width: 100%;
}

.service_detail--img img {
  width: 100%;
  height: auto;
  aspect-ratio: 400 / 240; /* = 5 / 3 */
  object-fit: cover;
  display: block;
}

.services_detail_maintitle {
  padding: 2rem 0;
  border-bottom: 1px solid var(--color-grey);
  font-size: 3rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: var(--color-blue);
}
.service_detail_content--ttl {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-blue);
}

.service_detail_content--subttl {
  font-size: 2.4rem;
  font-weight: 700;
  padding-top: 3.7rem;
}
.service_detail_content-txt {
  font-size: 2rem;
  line-height: 1.6;
  padding-top: 1.6rem;
}
